html,body{
    margin: 0px;
}
*{
    box-sizing: border-box;
    /* it compensates content hirght to keep it same as mentioned */
}

.menu-container{
    height: 20px;
    border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
    width: 124px;
}

.menu-option-container{
    height: 60px;
    border: 1px solid green;
    justify-content: space-evenly;
   width: 363px;
    align-items: center;
    display: block;
}
.menu-options{
    display: none;  

}
.menu-options.selected{

    display: flex;
    justify-content: inherit;
    align-items: center;
    height: 100%;
}

.formula-container{
    height: 28px;
    border:1px solid royalblue;
}

.content-container{
    height: calc(100vh - 128px);
    background: rgba(216, 216, 216, 0.932);
    overflow: auto;
    position: relative;
    
    /* auto used to add a scroll inside the content-container */
}

.sheets-container{
    height: 20px;
    border: 1px solid grey;
}

.row{
    display: flex;
}
.cell{
    border: 1px solid black;
    min-height: 28px;
    text-align:center;
}

.top-left-cell{
    height: 28px;
    width: 28px;
    background-color:rgba(216, 216, 216, 0.932);
    position: absolute;
    z-index: 3;
    
}
.top-row{
    display: flex;
    position: absolute;
    left: 28px;
    top: 0px;
    background-color: green;
    color: white;
    z-index: 2;
}
.top-row>.cell{
min-width: 80px;
}
.left-col{
position: absolute;
color: white;
background-color: gray;
top: 28px;
z-index: 2;
}
.left-col>.cell{
    width: 28px
}
.grid{
    position: absolute;
    left: 28px;
    top: 28px;
}


.row>.cell{
    width: 80px;
}

input[type="button"].isOn{
    background-color: lightslategrey;
}